body {
  background-color: #0b132b;
  padding: 10px;
  font-family: Arial, sans-serif;
}


main {
  display: grid;

  grid-template-columns: 1fr 1fr 1fr 0.9fr;

  grid-template-rows: 1fr 1.2fr 1.2fr 1fr;

  gap: 20px;
  height: calc(100vh - 40px);
}


section {
  border-radius: 15px;

  display: flex;
  justify-content: center;
  align-items: center;

  color: white;

  font-weight: bold;

  position: relative;
}


.top-left {
  grid-column: 1 / 2;
  grid-row: 1 / 3;

  background-color: #ef4444;
}


.top-center {
  grid-column: 2 / 3;
  grid-row: 1 / 2;

  background-color: #eab308;
}


.top-right {
  grid-column: 3 / 4;
  grid-row: 1 / 2;

  background-color: #22c55e;
}


.mid-left {
  grid-column: 1 / 2;
  grid-row: 3 / 4;

  background-color: #3b82f6;
}


.mid-center {
  grid-column: 2 / 4;
  grid-row: 2 / 4;

  background-color: #e5e7eb;

  color: black;
}

.mid-center h1 {
  font-size: 80px;
}


.right-top {
  grid-column: 4 / 5;
  grid-row: 1 / 3;

  background-color: #f9a8d4;
}


.right-bottom {
  grid-column: 4 / 5;
  grid-row: 3 / 5;

  background-color: #ec4899;
}


.bottom-left {
  grid-column: 1 / 3;
  grid-row: 4 / 5;

  background-color: #14b8a6;
}


.bottom-right {
  grid-column: 3 / 4;
  grid-row: 4 / 5;

  background-color: #8b5cf6;
}
